
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
.metals
.vscode
index1.html
style1.css
project1.html
project1.css
project1.js
.prettierrc

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode